.region-header{
    border-bottom: 1px solid #34373a;
}
.pa-summary-value {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}
.pa-summary-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 33px;
}

.pie-chart-value h1 {
    text-align: center;
    font-size: 3em;
}

hr {
    border-top: 1px solid #42474c !important;
}

div#ACP-card {
    display: none;
}