{% extends '@biopama_libraries/biopama-module-main-page.html.twig' %}

{% block intro %}
    {{ attach_library( 'biopama_pa_dashboard/pa_dashboard' ) }}
    {{ drupal_view('biopama_pa_dashboard', 'pa_dashboard_node') }}
    <div id="pa-dashboard-description"></div>
{% endblock %}
        
{% block cards %}
    <div id="pa-dashboard-cards">
        <div id="ACP-card" class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm region-header"><h1>{% trans %}ACP Total Coverage{% endtrans %}</h1></div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <div id="ACP-area-ter-pa-total" class="pa-summary-value color-ter region-id-change"></div>
                        <div class="pa-summary-title mb-5">{% trans %}Terrestrial Protected Areas{% endtrans %} (1000km<sup>2</sup>)</div>
                    </div>
                    <div class="col-sm-4">
                        <div id="ACP-area-mar-pa-total" class="pa-summary-value color-mar region-id-change"></div>
                        <div class="pa-summary-title mb-5">{% trans %}Marine Protected Areas{% endtrans %} (1000km<sup>2</sup>)</div>
                    </div>
                    <div class="col-sm-4">
                        <div id="ACP-area-pa-total" class="pa-summary-value color-all region-id-change"></div>
                        <div class="pa-summary-title mb-5">{% trans %}Total Area Protected{% endtrans %} (1000km<sup>2</sup>)</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-6 pie-chart-value" >
                    <h1 id="ACP-pie-chart-value-t" class="region-id-change color-ter"></h1>
                </div>
                <div class="col-sm-6 pie-chart-value" >
                    <h1 id="ACP-pie-chart-value-m" class="region-id-change color-mar"></h1>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 biopama-chart region-id-change" id="ACP-pie-chart-t" style="height: 100%;min-height:250px;"></div>
                    <div class="col-sm-6 biopama-chart region-id-change" id="ACP-pie-chart-m" style="height: 100%;min-height:250px;"></div>
                </div>
                <div class="row region-table"></div>
                <hr>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <div id="ACP-num-ter-pa-total" class="pa-summary-value color-ter region-id-change">0</div>
                        <div class="pa-summary-title">{% trans %}Terrestial Protected Areas{% endtrans %}</div>
                    </div>
                    <div class="col-sm-4">
                        <div id="ACP-num-mar-pa-total" class="pa-summary-value color-mar region-id-change">0</div>
                        <div class="pa-summary-title">{% trans %}Marine Protected Areas{% endtrans %} </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="ACP-num-cos-pa-total" class="pa-summary-value color-cos region-id-change">0</div>
                        <div class="pa-summary-title">{% trans %}Coastal Protected Areas{% endtrans %} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion region-id-change hidden" id="ACP-accordion">
                            <button id="btn-ACP-collapse-IUCN-Cats" class="biopama-collapse mb-2 btn btn-outline-warning w-100 d-flex justify-content-between region-target-change" type="button" data-bs-toggle="collapse" data-bs-target="#ACP-collapse-IUCN-Cats" aria-expanded="false" aria-controls="ACP-collapse-IUCN-Cats">
                                <div class="collapse-title"><i class="fa fa-chart-pie"></i> {% trans %}Management Categories{% endtrans %} </div>
                                <div class="card-collapsed"><i class="fas fa-chevron-down" aria-hidden="true"></i></div>
                                <div class="card-expanded"><i class="fas fa-chevron-up" aria-hidden="true"></i></div>
                            </button>
                            <div id="ACP-collapse-IUCN-Cats" class="collapse region-id-change" aria-labelledby="headingOne" data-parent="#ACP-accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 pie-chart-value" >
                                            <p id="ACP-pie-chart-value-cat" class="region-id-change color-cos">{% trans %}IUCN protected area management categories classify protected areas according to their management objectives. The categories are recognised by international bodies such as the United Nations and by many national governments as the global standard for defining and recording protected areas and as such are increasingly being incorporated into government legislation. If you want to know more please visit <a href="hhttps://www.iucn.org/theme/protected-areas/about/protected-area-categories">https://www.iucn.org/theme/protected-areas/about/protected-area-categories</a>.{% endtrans %}</p>
                                        </div>
                                        <div class="col-sm-12 biopama-chart region-id-change" id="ACP-pie-chart-cat" style="height: 100%;min-height:350px;"></div>
                                    </div>
                                </div>
                            </div>
                            <button id="btn-ACP-collapse-governance-types" class="biopama-collapse mb-2 btn btn-outline-warning dopa-button w-100 d-flex justify-content-between region-target-change" type="button" data-bs-toggle="collapse" data-bs-target="#ACP-collapse-governance-types" aria-expanded="false" aria-controls="ACP-collapse-governance-types">
                                <div class="dopa-title"><i class="fa fa-chart-pie"></i> {% trans %}Governance Types{% endtrans %} </div><div class="card-collapsed"><i class="fas fa-chevron-down" aria-hidden="true"></i></div><div class="card-expanded"><i class="fas fa-chevron-up" aria-hidden="true"></i></div>
                            </button>
                            <div id="ACP-collapse-governance-types" class="collapse region-id-change" aria-labelledby="headingTwo" data-parent="#ACP-accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 pie-chart-value" >
                                            <p id="ACP-pie-chart-value-gov" class="region-id-change color-cos">{% trans %}The IUCN Governance Types classify protected areas according to who holds authority, responsibility, and accountability for them. Protected areas exist under the authority of diverse governance actors, including indigenous peoples, local communities, private actors, governments, and combinations of these. {% endtrans %}</p>
                                        </div>
                                        <div class="col-sm-12 biopama-chart region-id-change" id="ACP-pie-chart-gov" style="height: 100%;min-height:350px;"></div>
                                    </div>
                                </div>
                            </div>
                            <button id="btn-ACP-collapse-designations" class="biopama-collapse mb-2 btn btn-outline-warning dopa-button w-100 d-flex justify-content-between region-target-change" type="button" data-bs-toggle="collapse" data-bs-target="#ACP-collapse-designations" aria-expanded="false" aria-controls="ACP-collapse-designations">
                                <div class="dopa-title"><i class="fa fa-table"></i> {% trans %}Designations{% endtrans %} </div><div class="card-collapsed"><i class="fas fa-chevron-down" aria-hidden="true"></i></div><div class="card-expanded"><i class="fas fa-chevron-up" aria-hidden="true"></i></div>
                            </button>
                            <div id="ACP-collapse-designations" class="collapse region-id-change" aria-labelledby="headingThree" data-parent="#ACP-accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 pie-chart-value" >
                                            <p id="ACP-pie-chart-value-gov" class="region-id-change color-cos">{% trans %}The Designation attribute of the WDPA is used to report particular designations (i.e. National Park).{% endtrans %}</p>
                                        </div>
                                        <div class="col-sm-12" >
                                            <table id="ACP-table-desig" class="table biopama-table region-id-change" style="width:100%"><thead></thead><tbody></tbody><tfoot></tfoot></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-5 ">
        <div id="dashboard-attribution">
        <p>
            <b>{% trans %}Protection level statistics as of{% endtrans %} {{ 'now' | date('M Y') }}</b><br>
            {% trans %}The protected area coverage at the country (GAUL) and region levels is calculated every month using open-source software (QGis) and scripts (Python) following the procedure available at <a href="https://www.protectedplanet.net/en/resources/calculating-protected-area-coverage" target="_blank">Protected Planet</a>{% endtrans %}<br>
            {% trans %}The code is available at: <a href="https://github.com/BIOPAMA/protection_analyst" target="_blank">Github - Protection Analyst</a>{% endtrans %}<br>
            <br>
            <b>{% trans %}APIs:{% endtrans %}</b><br>
            {% trans %}If you want to reuse our data please visit the <a href="https://api.biopama.org/protection_level" target="_blank">API for protection level</a>{% endtrans %}<br>
            <br>
            <b>{% trans %}Citation:{% endtrans %}</b><br>
            <div id="dashboard-table-citation">EC-JRC ({{ 'now' | date('Y') }}). {% trans %}BIOPAMA RIS [On-line], Protection level statistics as of{% endtrans %} {{ 'now' | date('M Y') }}. {% trans %}Available at:{% endtrans %} <a href="/" target="_blank">rris.biopama.org</a></div><br>
            <b>{% trans %}Disclaimer:{% endtrans %}</b><br>
            <div>{% trans %}These statistics might differ from those reported officially by countries or by other institutions due to difference in methodologies, software and datasets used to assess protected area coverage and differences in the base maps used to measure terrestrial and marine area of a country or territory.{% endtrans %}</div><br>
        </p>
        </div>
    </div>
{% endblock %}